  p {
	width: 600px;
  }
 .artofwar {
	 width:560px;
	 height:315px;
	 position: absolute;
	 top: 720px;
	 left: 660px;
 }
 .Doomsayer  {
	 width:560px;
	 height:315px;
	 position: absolute;
	 top: 250px;
	 left: 660px;
 }
 .grimreaper  {
	 width:560px;
	 height:315px;
	 position: absolute;
	 top: 1200px;
	 left: 660px;
 }