  p {
	  width: 600px;
  }
  H2 {
	  color: darkred;
  }
 .biting  {
	 position: absolute;
	 bottom: 80px;
	 left: 900px;
	 width: 300px;
	 height: 300px;
	 Border-radius: 25px;
 }
 .cheating {
	 position: absolute;
	 top: 700px;
	 left: 900px;
	 width: 300px;
	 height: 250px;
     Border-radius: 25px;
 }